nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body {
  width: 100%;
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main .textarea-control
{
  /* Center form controls */
  display: inline-block;

  /* Override Bootstrap's 100% width for form controls */
  width: auto;

  height: auto;

  min-height: 15em;
}
main
{
    /* Scroll horizontally as needed */
    /*overflow-x: auto;*/

    /* Center contents */
    text-align: left;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
body {
  font-family: "lato", sans-serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 20px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
  padding-right: 70px;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
  padding-right: 0px;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
.responsive-table .col-5 {
  flex-basis: 25%;
}
.responsive-table .col-6 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}

.a {
  list-style-type: square;
  list-style-position: outside;
  text-align: left;
  margin: 10;
  padding: 10;
  background: #FFFFFF
}

.b {
  list-style-type: circle;
  list-style-position: outside;
  text-align: left;
  margin: 10;
  padding: 10;
  background: #FFFFFF
}

.alert1 {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.gray {
  background-color: #EBEBEB;
  display: inline;
}

.inline {
  display: inline;
}

.negative {
    color: #f00;
}

.positive {
    color: #0f0;
}

.bottom {
  border-bottom: double;
  padding-bottom: 25px;
}

.child {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

body {
  margin:0px;
  width:100vw;
  height:100vh;
  overflow:auto;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  padding: 5px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;

}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.stocks-outer {
    float: right;
    margin-right: 75px;
    text-align: center;
    padding-top: 5px;
}

.stocks-inner {
    margin-left: 300px;
    text-align: center;
}

.Top_40_US {
  float: right;
  margin-right: 75px;
  padding-bottom: 5px;
}

input[type=button] {
    margin-bottom: 5px;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('/static/loadingimage.gif') no-repeat center center;
  z-index: 9999;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  font-weight: 700;
  border: none;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 3px;
  margin:5px;
  transition: text-shadow 0.3s ease;
  background: #e2e2e2;
}

.mytabs label:active {
  position: relative;
  top: 1px;
  border-bottom-width: 2px;
}

.mytabs label:hover {
  box-shadow: 2px 5px #888888
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display: none;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: #90EE90;
}

nav,
main {
  display: flex;
  flex-grow: 1;
}
