{% extends "layout.html" %}

{% block title %}
    Built
{% endblock %}

{% block main %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    function myFunction() {
        document.getElementById("btn1").disabled = true;
        document.getElementById("btn2").disabled = true;
        document.getElementById("btn3").disabled = true;
        document.getElementById("btn4").disabled = true;
    }
</script>


<div class="alert1">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  The following symbols have been removed due to low quality data: {{ listofna }}
</div>


<div align="left"; class="child"; id="plotly-timeseries"></div>
<script>
var graph = {{ plot_json | safe }};
Plotly.plot('plotly-timeseries', graph, {});
</script>

<div id="plotly-timeseries1"></div>
<script>
var graph = {{ plot_json1 | safe }};
Plotly.plot('plotly-timeseries1', graph, {});
</script>

<div id="plotly-timeseries2"></div>
<script>
var graph = {{ plot_json2 | safe }};
Plotly.plot('plotly-timeseries2', graph, {});
</script>

<!--<h4>Return estimate using the Capital Asset Pricing Model</h4>
<div id="plotly-timeseries3"></div>
<script>
var graph = {{ plot_json3 | safe }};
Plotly.plot('plotly-timeseries3', graph, {});
</script>

<h4>Long/short min</h4>
<p>In this section, we construct a long/short portfolio with the objective of minimising variance.</p>
<div id="plotly-timeseries4"></div>
<script>
var graph = {{ plot_json4 | safe }};
Plotly.plot('plotly-timeseries4', graph, {});
</script>
<p>Expected Annual volatility: {{ "%.2f" | format(av) }}%</p>
<div class="alert alert-success" role="alert">
  <h4>If you happy with the suggested portfolio, the following output will show how many stocks to buy and the leftover funds</h4>
  <p style="color:red;">Please note that the symbols prices may change between the time it takes to choose your portfolio</p>
  <P>{{ alloc }}</P>
  <p>{{ "$%.2f" | format(leftover) }} leftover</p>
  <form action="/allocation" onsubmit="myFunction()" method="post">
    <input type="submit" name="demo" class="btn btn-primary" onclick="this.form.submit()" id="btn1" value="Buy">
    <input type="submit" name="212demo" class="btn btn-primary" onclick="this.form.submit()" id="btn4" value="212demo">
  </form>
</div>-->

<h4>Maximise return for a given risk  ({{ volatility }}%), with L2 regularisation = ({{ gamma }})</h4>
<div id="plotly-timeseries5"></div>
<script>
var graph = {{ plot_json5 | safe }};
Plotly.plot('plotly-timeseries5', graph, {});
</script>
<p>Expected annual return: {{ "%.2f" | format(perf[0]*100) }}%</p>
<p>Annual volatility: {{ "%.2f" | format(perf[1]*100) }}%</p>
<p>Sharpe Ratio: {{ "%.2f" | format(perf[2]) }}</p>
<div class="alert alert-success" role="alert">
  <h4>If you happy with the suggested portfolio, the following output will show how many stocks to buy and the leftover funds</h4>
  <p style="color:red;">Please note that the symbols prices may change between the time it takes to choose your portfolio</p>
  <P>{{ alloc1 }}</P>
  <p>{{ "$%.2f" | format(leftover1) }} leftover</p>
  <form action="/allocation1" method="post">
    <button class="btn btn-primary" onclick="this.form.submit(); myFunction()" id="btn2">Buy</button>
  </form>
</div>

<h4>Efficient semi-variance optimization</h4>
<p>Here we will minimise the portfolio semivariance (i.e downside volatility) subject to a return constraint ({{ ret }}%).</p>
<p>Expected annual return: {{ "%.2f" | format(perf2[0]*100) }}%</p>
<p>Annual semi-deviation: {{ "%.2f" | format(perf2[1]*100) }}%</p>
<p>Sortino Ratio: {{ "%.2f" | format(perf2[2]) }}</p>
<div class="alert alert-success" role="alert">
  <h4>If you happy with the suggested portfolio, the following output will show how many stocks to buy and the leftover funds</h4>
  <p style="color:red;">Please note that the symbols prices may change between the time it takes to choose your portfolio</p>
  <P>{{ alloc2 }}</P>
  <p>{{ "$%.2f" | format(leftover2) }} leftover</p>
  <form action="/allocation2" method="post">
    <button class="btn btn-primary" onclick="this.form.submit(); myFunction()" id="btn3">Buy</button>
  </form>
</div>
{% endblock %}
