{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
      <p> Stock Portfolio Manager was build on a liberary devolped by Robert Martin called <a href="https://pyportfolioopt.readthedocs.io/en/latest/" target="_blank">PyPortfolioOpt</a>.</p>
      <p> The library implements portfolio optimization methods, including classical mean-variance optimization techniques and Black-Litterman allocation,
      as well as more recent developments in the field like shrinkage and Hierarchical Risk Parity, along with some novel experimental features like
      exponentially-weighted covariance matrices.</p>
      <P> It is extensive yet easily extensible, and can be useful for both the casual investor and the serious practitioner. Whether you are a fundamentals-oriented
      investor who has identified a handful of undervalued picks, or an algorithmic trader who has a basket of strategies, PyPortfolioOpt can help you combine your
      alpha sources in a risk-efficient way.</P>

{% endblock %}